<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valischat.example.plotmaster">

    <application
        android:allowBackup="true"
        android:icon="@drawable/whitebange"
        android:label="@string/app_name"
        android:roundIcon="@drawable/whitebange"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".BANGEFEST"
            android:label="@string/title_activity_bangefest"
            android:theme="@style/NoActionBar"></activity>
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>